html{
    font-size: 55%;
}

body{
    font-size: 16px;
    color: #15cdca;
    font-family: 'Oswald', sans-serif;
    background-image: url(../img/fondo3.jpg);
    background-repeat: no-repeat;
    background-size:auto;
    
    }
    
.título {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    font-weight: bold;
    color:#15cdca;
    }

.subtítulo {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    font-weight: normal;
    color:#4f80e2;
    }

.contenedor{
    max-width: 120rem;
    margin: 1px 1px;
}

.nav-bg{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,49,121,1) 36%, rgba(0,212,255,1) 100%);
    font-family: 'Oswald', sans-serif;
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
    
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    text-decoration: none;
    color: azure;
}

.navegacion-principal a:hover {
background-color: #4f80e2;
color: black;
border-radius: 10px;
}

.navegacion-principal a:focus {
    color: #4f80e2 ;
    }

.hero{
    color: #ffec00;
    text-align: center;
    background-image: url(../img/indice\ -\ copia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px;
}