html{
    font-size: 55%;
    scroll-behavior: smooth;
    }

body{
    color: #15cdca;
    font-family: 'Oswald', sans-serif;
    background-color: #10162c;
    background-repeat: no-repeat;
    background-size:cover;
       }

h2{ font-size: 3rem;}

h3{ font-size: 2.3rem;}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height:fit-content;
    background: #10162c;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}    

h1 {
    font-size: 5rem;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color:#47c8f0;
    margin-bottom: auto;
    }

.contenedorheader{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#imagenheader{
    height: 17rem;
    float: left;
    margin-top: -95px;
    position: absolute;
    right: 98rem;
}

.contenedorheader h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    color:#4f80e2;
    margin-left: 2rem;
    margin-top: 2px;
      }

.navegador__contenedor{
    max-width: 150rem;
    }

.navegador{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,49,121,1) 36%, rgba(0,212,255,1) 100%);
    font-family: 'Oswald', sans-serif;
    border-bottom: 2px solid black;
    }

.navegador__indice{
    display:flex;
    flex-direction: row;
    margin-left: 12rem;
    justify-content: space-between;
    
    }

.navegador__indice a {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    text-decoration: none;
    color: azure;
}

.navegador__indice a:hover{
background-color: #15cdca;
color: black;
border-radius: 10px;
}

nav a.active{
    background-color: #15cdca;
    color: black;
    border-radius: 10px;
}

@media (max-width: 480px) {
.navegador__indice{
    flex-direction: column;
    margin-left: 0;
    }    
}

.hero{
    background-image: url(../img/indice\ -\ copia.jpg);
    margin-top: 18rem;
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    position: relative;
}

.contenido-hero{
    background-color: rgba(54, 184, 210, 0);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boton{
    background-color: #15cdca7b;
    text-decoration: none;
    color: aliceblue;
    font-size: 2.5rem;
    font-weight: 700;
    border-radius: .5rem;
    padding: 2rem 2rem;
    margin-top: 3rem;
    width: 11rem;
    text-align: center;
}

.frase1 {
    -webkit-box-shadow: 1px 0px 6px 2px rgba(0,0,0,0);
    -moz-box-shadow: 1px 0px 6px 2px rgba(0,0,0,0.27);
    box-shadow: 1px 0px 6px 2px rgba(0,0,0,0.27);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,49,121,1) 36%, rgba(0,212,255,1) 100%);
    padding: 4rem;
    }

    .frase1 p{
    text-align: center;
    color:aliceblue;
    align-items: center;
    font-size: 4rem; 
     }

.main {
    display: flex;
    justify-content:baseline;
    color: rgb(240, 248, 255) ;
    margin: 15rem 15rem 12rem 23rem;
    }

.main h3{
    text-align: center;
    align-items: center;
}

.col0{
    margin-right: 4rem;
}

.col{
    border-left: groove;
    width: 35rem;
    height: 25rem;
}

@media (max-width: 480px){
    .frase1{
        padding: 2rem;
    }

    .frase1 p {
        font-size: 3rem;
        }

    .main{
        margin: 0px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 6rem;
        
    }

    .main h3 {
        font-size: 1.7rem;
    }
    
    .col0 {
        margin-right: 0px;
    }

    .col0 h3{
        margin: 0px;
        margin-top: 40px;
        padding: 10px;
    }

    .col{
        width: auto;
        height: auto;
    }

    .col h3{
        margin: 0px;
        padding: 15px;
    }
    }

.servicios{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.tituloservicios{
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    margin-bottom: 0;
    }

    .tituloservicios-hr{
        height: 0.5rem;
        overflow: visible;
        width: 142rem;
        margin-left: 18rem;
        background-color: aqua;
        margin-top: 0;
        margin-bottom: 6rem;
    }

.fondoservicios{
    font-size: 6rem;
    text-align: center;
    background-color: #10162c;
    height: 60rem;
    margin-bottom: 15rem;
    }

.servicios img{
    height: 49rem;
    opacity: 0.3;
    }

    .servicios img:hover{
        transform: scale(1.15);
        opacity: 1;
    }

 .colum1{
    position: relative;
    display: inline-block;
    text-align: center;
    }

.texto1{
    text-align: center;
    color: aliceblue;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    }

 .colum2{
     position: relative;
     display: inline-block;
     text-align: center;
     }
    
 .texto2{
     text-align: center;
     color: aliceblue;
     position: absolute;
     top: 40%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 3rem;
      }

.colum3{
    position: relative;
    display: inline-block;
    text-align: center;
    }
       
.texto3{
    text-align: center;
    color: aliceblue;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    }

.colum4{
    position: relative;
    display: inline-block;
    text-align: center;
    }
           
.texto4{
    text-align: center;
    color: aliceblue;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    }

    @media(min-width: 768px){
        .servicios{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin: 3rem 0rem;
             }
        }

    @media(max-width: 480px){
        .fondoservicios{
            font-size: 5rem;
            text-align: center;
            height: 20rem;
        }
        .servicios{
            display: flex;
            justify-content: space-between;
                    }

                    .servicios img{
            height: 15rem;
        }

        .texto1,
        .texto2,
        .texto3,
        .texto4{
           font-size: 16px; 
        }
    }


@media (max-width: 480px) {
    .boton{
        width: auto;
        }

     .hero{
        background-image: url(../img/indice\ -\ copia.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        position: relative;
     }
     }

     .sobre_nosotros{
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,49,121,1) 36%, rgba(0,212,255,1) 100%);
        margin-left: 3rem;
        margin-right: 3rem;
        border-radius: 6px; 
        height: 214rem;            
    }

    .sobre_nosotros-subtitulo{
        margin-top: 2rem;
        text-align: left;
        padding-right: 3rem;
         }
    
    .linea{
        box-sizing: content-box;
        height: 0.5rem;
        overflow: visible;
        width: 77rem;
        margin-left: 7rem;
        background-color: aqua;
    }

    .sobre_nosotros-subtitulo h3{
        margin-bottom: 2rem;
        font-size: 4rem;
        padding-top: 3rem;
        padding-left: 4rem;
        margin-left: 3rem;
    }

    .sobre_nosotros-subtitulo img{
        width: 65rem;
        height: 67rem;
        float: right;     
    }

    .sobre_nosotros-pantalladividida p{
        font-size: 22px;
        color: aliceblue;
        text-align:justify;
        margin-left: 7rem;
        width: 77rem;
        }

    .sobre_nosotros-staff{
        display: flex;
        flex-direction: column;
    }
    
    .sobre_nosotros-staff h3{
        font-size: 4rem;
        margin-left: 3rem;
        padding-left: 4rem;
        margin-top: 4rem;
        margin-bottom: 12px;
    }

    .lineastaff{
        box-sizing: content-box;
        height: 0.5rem;
        overflow: visible;
        width: 62rem;
        margin-left: 7rem;
        background-color: aqua;
    }
    
    .sobre_nosotros-staff img{
        width: 60rem;
        height: 93rem;
        align-self: flex-start;
        margin-left: 7rem;
        /* margin-top: 2rem; */
        /* padding-right: 9rem; */
        position: absolute;
        margin-top: 10%;
        }
    
    .sobre_nosotros-staff h4{
        font-size: 3rem;
        margin-left: 100rem;
        /* align-self: self-end; */
    }

    .parrafostaff{
        color: aliceblue;
        font-size: 22px;
        margin-right: 10rem;
        text-align: justify;
        /* float: right; */
        margin-left: 75rem;
        position: absolute;
        margin-top: 13%;
    }

    .escudos{
        /* display: flex; */
        position: relative;
        margin-top: 89rem;
        }

    .escudo1{
        height: 12rem;
        padding-right: 2rem;
        padding-left: 9rem;
    }

    .escudo2{
        height: 12rem;
        padding-right: 2rem;
    }

    .escudo3{
        height: 12rem;
        padding-right: 2rem;
    }
    
    .escudo4{
        height: 12rem;
    }

    .titulocoberturas{
        height: 13rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        margin-top: 2rem;
        margin-bottom: -2rem;
    }

    .lineacoberturas{
        box-sizing: content-box;
        height: 0.5rem;
        overflow: visible;
        width: 62rem;
        margin-left: 57rem;
        background-color: aqua;
        }

    .coberturascolumnas{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        margin-top: 5rem;
        align-items: left;
        justify-content:left;
        }
    
    #img1{
        margin-left: 42rem;
        margin-top: 5rem;
        height: 11rem;
        margin-bottom: 6rem;
        }

    #img2{
        margin-left: 42rem;
        margin-top: 5rem;
        height: 11rem;
        margin-bottom: 6rem;
        }

    #img3{
        margin-left: 42rem;
        margin-top: 5rem;
        height: 11rem;
        margin-bottom: 6rem;
        }

    #parrafo-cobertura{
        font-size: 4rem;
        color: white;
        align-content: center;
        justify-content: center;
        text-align: center;
        margin-left: 11rem;
        margin-bottom: 15rem;
        
        
        }

    #contacto{
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,49,121,1) 36%, rgba(0,212,255,1) 100%);
        height: 70rem;
    }

    .titulocontacto{
        height: 13rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        margin-top: 2rem;
        margin-bottom: -2rem;
    }

    .lineacontacto{
        box-sizing: content-box;
        height: 0.5rem;
        overflow: visible;
        width: 62rem;
        margin-left: 58rem;
        background-color: aqua;
        margin-bottom: 5rem;
    }

    .columnas-contacto{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .columnas-contacto iframe{
        display: grid;
        margin-left: 2rem;
        width: 84rem;
          }
    
    .filas-contacto{
        grid-template-rows: 1fr 1fr 1fr;
        background-color: #4f80e2;
        margin-right: 2rem;
    }      

    .columnas-contacto p{
        display: grid;
        font-size: 2rem;
        justify-content: center;
        color: aliceblue;
       
    }

  .footer{
    padding: 0.5rem 0;
    margin-top: 1.7rem;
  } 

  .footer__texto{
    text-align: center;
    font-size: 1.5rem;
  }

  